# Compilation output
/lib
/bin
/tools/lib
/tools/bin
/parts/lib
/parts/bin

# Computation output
/out
/*.root
/*.pdf
/*.out
/*.err
/gosam
/scripts/condor/out
/scripts/condor/hists
/scripts/condor/*.tar.gz
/scripts/condor/*.db
/scripts/sql/*.db
/scripts/sql/*.tar.gz

# Input files
/data
/ntuples

# vim
*.swp

# tests and work in progress
/test*
