.* {
  Class: TH1D;
  Bins: 100 -500 500;
  Sumw2: false;
}

.*_(y|eta)(?:_.*)? {
  Bins: 36 -4.5 4.5;
}

.*_d(y|eta)(?:_.*)? {
  Bins: 18 0 9;
}

.*_dy_veto {
  Bins: 18 0 4.5;
}

.*_phi2?(?:_.*)? {
  Bins: 36 -3.1416 3.1416;
}

.*_dphi(?:_.*)? {
  Bins: 18 0 3.1416;
}

A_pT {
  Bins: 25 0 500;
}

jet\d_pT(?:_.*)? {
  Bins: 30 0 300;
}

jets_HT {
  Bins: 25 0 500;
}

A1j_pT {
  Bins: 30 0 210;
}

A2j_pT {
  Bins: 30 0 120;
}

A3j_pT {
  Bins: 30 0 30;
}

A4j_pT {
  Bins: 30 0 1;
}

jet\d_mass {
  Bins: 20 0 10;
}

jet4_mass {
  Bins: 20 -1 1;
}

jet(\d|s)_tau(?:_.*)? {
  Bins: 25 0 150;
}

.*_N_.* {
  Bins: 5 -0.5 4.5;
}

jj[^_]*_mass {
  Bins: 35 0 700;
}

Ajj[^_]*_mass {
  Bins: 30 150 2000;
}

.*_(loose|tight)(?:_.*)? {
  Bins: 1 0 1;
}

N {
  Bins: 1 0 1;
}
