.* {
  Class: TH1D;
  Bins: 100 -500 500;
  Sumw2: false;
}

.*_y(?:_.*)? {
  Bins: 36 -4.5 4.5;
}

.*_dy(?:_.*)? {
  Bins: 18 0 9;
}

.*_dy_veto {
  Bins: 18 0 4.5;
}

.*_dphi(?:_.*)? {
  Bins: 18 0 3.1416;
}

.*_phi2 {
  Bins: 36 -3.1416 3.1416;
}

H_pT {
  Bins: 25 0 500;
}

H_mass {
  Bins: 25 115 135;
}

jet\d_pT(?:_.*)? {
  Bins: 30 0 300;
}

jets_HT {
  Bins: 25 0 500;
}

H1j_pT {
  Bins: 30 0 210;
}

H2j_pT {
  Bins: 30 0 120;
}

H3j_pT {
  Bins: 30 0 30;
}

H4j_pT {
  Bins: 30 0 1;
}

jet\d_mass {
  Bins: 20 0 10;
}

jet4_mass {
  Bins: 20 -1 1;
}

jet\d_tau {
  Bins: 25 0 100;
}

jets_tau_max {
  Bins: 25 0 100;
}

jets_tau_sum {
  Bins: 25 0 150;
}

.*_N_.* {
  Bins: 5 -0.5 4.5;
}

jj[^_]*_mass {
  Bins: 35 0 700;
}

Hjj[^_]*_mass {
  Bins: 30 150 2000;
}

.*_(loose|tight)(?:_.*)? {
  Bins: 1 0 1;
}

N {
  Bins: 1 0 1;
}
