.* {
  Class: TH1D;
  Bins: 100 -500 500;
  Sumw2: true;
}

.+_N_.+ {
  Bins: 5 -0.5 4.5;
}

.*_y(?:_.*)? {
  Bins: 36 -4.5 4.5;
}

.*_eta(?:_.*)? {
  Bins: 36 -4.5 4.5;
}

.*_phi(?:_.*)? {
  Bins: 36 -3.1415926536 3.1415926536;
}

.*_dy(?:_.*)? {
  Bins: 18 0 9;
}

.*_deta(?:_.*)? {
  Bins: 18 0 9;
}

.*_dphi(?:_.*)? {
  Bins: 18 0 3.1415926536;
}

H_pT {
  Bins: 35 0 700;
}

H_mass {
  Bins: 50 0 250;
}

jet\d_pT(?:_.*)? {
  Bins: 50 0 500;
}

jet\d_mass {
  Bins: 20 0 10;
}

jet4_mass {
  Bins: 20 -1 1;
}

jjpT_dpT {
  Bins: 100 300;
}

jjfb_dpT {
  Bins: 100 -300 300;
}

jj[^_]*_mass {
  Bins: 50 0 1000;
}

AA_cos_theta_star(?:_.*)? {
  Bins: 25 0 1;
}

x[H12]_\d+-\d+ {
  Bins: 100 0 1;
}

N {
  Bins: 1 0 1;
}

