.* {
  Class: TH1D;
  Bins: 100 -500 500;
  Sumw2: false;
}

.*_y(?:_.*)? {
  Bins: 90 -4.5 4.5;
}

.*_dy(?:_.*)? {
  Bins: 20 0 10;
}

.*_dy_veto {
  Bins: 18 0 4.5;
}

.*_dphi(?:_.*)? {
  Bins: 16 0 3.1416;
}

.*_phi2 {
  Bins: 32 -3.1416 3.1416;
}

H_pT {
  BinEdges: 0.,5.,10.,15.,20.,25.,30.,35.,40.,45.,50.,55.,60.,
		   65.,70.,75.,80.,85.,90.,95.,100.,110.,120.,130.,140.,150.,
		   160.,170.,180.,190.,200.;
}

H_mass {
  Bins: 50 0 250;
}

jet1_pT(?:_.*)? {
  BinEdges: 0.,30.,50.,70.,100.,140.,500.;
}

jet2_pT(?:_.*)? {
  BinEdges: 0,30,40,50,140,500.;
}

jet3_pT(?:_.*)? {
  BinEdges: 0,30,50,150,500.;
}

jets_HT {
  BinEdges: 0.,30.,40.,50.,60.,70.,90.,110.,130.,150.,200.,
		 250.,300.,400.,500.,600.,800.,1000.;
}

H1j_pT {
  Bins: 30 0 210;
}

H2j_pT {
  Bins: 30 0 120;
}

H3j_pT {
  Bins: 30 0 30;
}

H4j_pT {
  Bins: 30 0 1;
}

jet\d_mass {
  Bins: 20 0 10;
}

jet4_mass {
  Bins: 20 -1 1;
}

jet(\d|s)_tau(?:_.*)? {
  BinEdges: 0.,4.,8.,12.,16.,20.,25.,30.,40.,60.,85.;
}

.*_N_.* {
  Bins: 5 -0.5 4.5;
}

jj[^_]*_mass {
  Bins: 20 0 1000;
}

Hjj[^_]*_mass {
  BinEdges: 0.,100.,150.,200.,250.,300.,350.,400.,450.,500.,550.,
			   600.,650.,700.,750.,800.,850.,900.,950.,1000.,1100.,
			   1200.,1300.,1400.,1500.,1700.,2000.;
}

AA_pTt {
  BinEdges: 0.,10.,20.,30.,40.,60.,80.,150.,500.;
}

AA_cos_theta_star(?:_.*)? {
  Bins: 20 0 1;
}

.*_(loose|tight)(?:_.*)? {
  Bins: 1 0 1;
}

N {
  Bins: 1 0 1;
}
